
* {
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: sans-serif;
  }
  
  .wrapper {
    background: url("cardi.jpg") no-repeat center;
    background-size: cover;
    width: 100%;
    height: 100vh;
  }
  
  .content{
    text-align: center;
    position: relative;
    top: 30%;
    transform: translateY(-50%);
    text-transform: uppercase;
    color: #fff;
    letter-spacing: 2px;
  }

  input {
      float:left;
      margin:45px;
  }